<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a07ce01c-5021-43e3-ae28-71f6196f3eec/resourcegroups/WebAPI20250123162938ResourceGroup/providers/Microsoft.Web/sites/WebAPI20250123162938</ResourceId>
    <ResourceGroup>WebAPI20250123162938ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/a07ce01c-5021-43e3-ae28-71f6196f3eec/resourceGroups/WebAPI20250123162938ResourceGroup/providers/Microsoft.ApiManagement/service/WebAPIChuck/apis/WebAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://webapi20250123162938.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>e0096879-44f8-4631-a4b0-8826cb51ea5a</ProjectGuid>
    <MSDeployServiceURL>webapi20250123162938.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebAPI20250123162938</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName />
    <_SavePWD>false</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net9.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>